doctype html
html(lang='en', ng-app='wallboard')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='shortcut icon', href='/favico.ico')
    link(rel='apple-touch-icon' href='/favico-512.png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/gridster.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.4.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/angular-notify.css')
    link(rel='stylesheet', href='/stylesheets/ui-iconpicker.min.css')
    link(rel='stylesheet', href='/stylesheets/colorpicker.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    script(src='/javascripts/jquery-1.11.0.min.js')
    script(src='/javascripts/jquery-ui-1.10.4.min.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-route.js')
    script(src='/javascripts/angular-resource.js')
    script(src='/javascripts/angular-animate.min.js')
    script(src='/javascripts/angular-inview.js')
    script(src='/javascripts/ui-utils.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.10.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controllers.js')
    script(src='/elements/analogue_clock.js')
    script(src='/javascripts/gridster.js')
    script(src='/javascripts/angular-notify.js')
    script(src='/javascripts/ui-iconpicker.min.js')
    script(src='/javascripts/bootstrap-colorpicker-module.js')
    script(src='/javascripts/welcome_developers.js')
  body(ng-view,ng-style='{overflow:scrollbar==false ? "hidden" : "auto","background-color":"#f0f0f0"}')
    i.fa.fa-cog.fa-spin.fa-5x