	<div class="container">
		<div class="row">
			<div class="panel col-sm-offset-2 col-sm-8">
				<div class="panel-body text-center">
					<div class="section-number">
						<p><i class="fa fa-lightbulb-o"></i></p>
					</div>
					<div class="welcome-section-header">
						<p>Did you know?</p>
					</div>
					<div class="welcome-section-body">
					<pre><p>To go to fullscreen press F11</p><p>To add a wigdet click on empty space on a dashboard</p><p>To modify a wigdet click on that widget</p></pre>

					</div>
				</div>
			</div>
		</div>
	</div>