<div>
	<div class="container">
		<div class="row">
			<div class="panel col-sm-offset-2 col-sm-8">
				<div class="panel-body text-center">
					<div class="section-number">
						<p>4</p>
					</div>
					<div class="welcome-section-header">
						<p>Sending updates from Javascript</p>
					</div>
					<div class="welcome-section-body">
					<p>From Javascript</p>
					<pre class="text-left">xmlhttp.open("POST","https://servername/send",true);
xmlhttp.setRequestHeader("Content-type","application/json");
xmlhttp.send('{"stream_name":"element1","value":5}');
</pre>
                    <p>with JQuery</p>
					<pre class="text-left">$.post("https://servername/send", { stream_name: "element1", value: 3 } );
</pre>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="container">
    <div in-view="dyk_is_in_view=(dyk_is_in_view || $inview)"  class="welcome-section section">
	    <div ng-show="dyk_is_in_view" class="animated fadeInRightSmall" ng-include src="'/partials/home.did_you_know.html'" />
    </div>
</div>