<div class="container">
		<div class="row">
			<div class="panel col-sm-offset-2 col-sm-8">
				<div class="panel-body text-center">
					<div class="section-number">
						<p>3</p>
					</div>
					<div class="welcome-section-header">
						<p>You're done!</p>
					</div>
					<div class="welcome-section-body">
						<p>Click below to open your brand new dashboard</p>
					</div>
					<a ng-href="/#/board/{{new_board_id}}" <span class="fa fa-arrow-circle-o-right fa-5x"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div in-view="dyk_is_in_view=(dyk_is_in_view || $inview)"  class="welcome-section section">
	    <div ng-show="dyk_is_in_view" class="animated fadeInRightSmall" ng-include src="'/partials/home.did_you_know.html'" />
    </div>
</div>