 <div class="container">
 <div class="row">
 <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Wallboard Login</strong>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="login" class="col-sm-3 control-label">Login</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="login" placeholder="Login" required="" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="inputPassword3" placeholder="Password" required="" type="password">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success disabled btn-md">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">{{login_text}}</div>
            </div>
        </div>
        </div>
        </div>